/* General Styles for Body */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* Skip to Main Content Link */
.skip-link {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333;
    color: #fff;
    padding: 10px;
    z-index: 1000;
}

/* Header Styles */
header {
    background-color: #F0F8FF;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #333;
    font-family: 'Times New Roman', Times, serif;
}

/* Navigation Styles */
nav {
    display: inline-block;
    width: 80%;
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

nav img {
    width: 10%;
    height: auto;
}

/* Main Content Styles */
main {
    background-color: #F5FFFA;
    font-size: 1.1em;
    padding: 20px;
    line-height: 1.6;
}

/* Grid Styling */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    gap: 20px;
    justify-items: center;
    align-items: start;
    row-gap: 20px;
}

.grid img {
    width: 100%;
    height: auto;
}

/* Flex Styling */
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #FFF;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #FF6347;
    text-decoration: none;
}

/* Image Styling for Header */
header img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

/* Styles for Links */
a:hover {
    color: #FF6347;
}
